@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
}
.container-width{
    width:80%;
    margin-right:auto;
    margin-left:auto;
}
body{
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;
}
.flex{
    display: flex;
}
.color-white{
    color:rgb(223, 222, 222);
}
.d-block{
    display: block;
}
.pos-fixed{
    position: fixed;
}
.nav-bar{
    width: 400px;
    background-color: #042331;
    transition: all 0.8s ease-in-out;
    z-index: 1;
    left:-400px;
    height:100%;
}
.show{
    transition: all 0.8s ease-in-out;
}
.show .nav-bar{
    left:0;
}
.nav-bar h2{
    text-align: center;
    line-height: 70px;
    text-transform: uppercase;
    user-select: none;
    background: #063146;
    font-size: 25px;
}
.nav-bar h2 i{
    margin-right:15px;
}
.nav-bar li a{
    text-decoration: none;
    padding-left: 45px;
    width: 100%;
    line-height: 71px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid black;
    display: block;
    border-top: 1px solid rgba(255,255,255,0.1);
    transition: 0.5s;
    color:white;
}
.nav-items li a:hover{
	padding-left:50px;
}
.nav-bar li i{
    margin-right:15px;
   
}
.cancel{
    position: absolute;
    z-index: 999;
    width: 38px;
    height: 38px;
    background: #042331;
    top: 18px;
    right: 39px;
    cursor: pointer;
    align-items: center;
    border: none;
    font-size: 25px;
    transition:all 0.8s ease-in-out;
}
.threeBarMenu{
    top: 37px;
    left: 58px;
    padding: 7px 17px;
    font-size: 27px;
    background-color: #042331;
    border: none;
    border-radius: 5px;
    color:white;
}

.show .container-fluid{
    position: relative;
}
.container-fluid{
  transition:all 0.8s ease-in-out;
  background-color:rgba(92, 207, 92, 0.5);
  height:100%;
  background-image: url(../images/hero-img.png);
  background-size: cover;
  background-repeat: no-repeat; 
  left:0;
}

.container{
   height:100vh;
   padding-top:150px;
   }

.text-wrapper blockquote{
    line-height: 38px;
    font-size: 19px;
    margin-bottom:8px;
}
.prayer{
    max-width: 85%;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    padding-top:8rem;
}
.prayer-img {
    width:48%;
    padding:1%;
}
.prayer-img img{
    width:100%;
    height:100%;
}
.prayer-text{
    width:48%;
    padding:1%;
    text-align: center;
}
.prayer-text li{
    list-style-type: none;
    margin-top:8px;
}
.bold{
    text-decoration:bold;
    font-size:25px;
}
.contact{
    width:100%;
    height:200px;
    background-color:#44C666;
}
.contact-container{
    top:35%;
    position: relative;
    
}
.width-contact{
    align-items: center;
    width:33%;
    text-align: center;
    justify-content: center;
}
.width-contact i{
    font-size:30px;
    padding:6px;
}
.width-contact h3{
    padding:8px;
}
.mt-4{
    margin-top:4rem;
}
.lec-img{
    max-width:24%;
    margin:1%;
    width:100%;
}
.article{
    max-width: 33%;
    margin:1%;
    width:100%;
}
.img{
    width:100%;
    height:100%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:5px;
}
.ar-img{
    width:100%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:5px;
}
.lec-img h5{
    text-align: center;
    font-size: 20px;
}
.lecturer h2{
    text-align: center;
    text-transform: uppercase;
}
.article p{
    justify-content: center;
}
.article a{
    text-decoration: none;

}
.ar-social{
    justify-content: center;
    margin-top:2rem;
}
.ar-social li{
    list-style-type: none;
    text-align: center;
    border:1px solid black;
    margin:4px;
    border-radius: 5px;
    border:none;
   
}
.ar-social a{
    padding:10px;
}
.ar-social i{
    font-size: 30px;
    padding:5px;
    color:white;
}
.fb{
    background-color:#2D4373;
}
.youtube{
    background-color:red;
}
.twitter{
    background-color:#0087BA;
}
.ar-heading{
    text-align: center;
    text-transform: uppercase;
}

.footer{
    width:100%;
    height:300px;
    background-color: #213641;
}
.footer-logo h2{
    padding:15px;
    margin-top:7px;
}
.width-25{
    width: 25%;
}
.footer-nav li{
    list-style: none;
    padding:10px 20px;
    

}
.footer-nav a{
    text-decoration: none;
    color:white;
}
.subit-sub{
    border: none;
}
.subscribe input{
    padding: 9px 2px;
    margin-top: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.submit{
    padding: 9px 2px;
    font-weight: bold;
    margin-left: -6px;
    background-color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.footer-social-icon li{
    list-style: none;
    padding: 15px;
    border: 2px solid #bdbdbd;
    margin: 4px;
    border-radius: 50%;
}
.footer-social-icon i{
    font-size:25px;
    color:white;

}
.scroll-up-btn{
    display: flex;
    justify-content:flex-end;
    padding:20px;
}
#scrollToUp i{
    font-size: 25px;
    cursor: pointer;

}
/* Responsive design */

@media screen  and (max-width:400px){
    .prayer{
        flex-direction: column;
        width: 100%;
    }
}